doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		script(src="/libs/jquery/dist/jquery.min.js")
		link(href="/css/history.css",rel="stylesheet")
		script(src="/js/history.js")
	body
		.container
			hr
			.start 2016
			.midLine
			//- .btn
			//- 	button.btnAdd 添加</br>工单
			//- 	.arrow.arrowBtn
			//- 	.dot.dotBtn
			- var flag = true
			each item in workSheets
				- var color ="#" + ("00000" + ((Math.random() * 16777215 + 0.5) >> 0).toString(16)).slice(-6);
				if flag
					.send.sendRight(style="background-color: #{color};")
						.time.timeRight #{moment(item.meta.createaAt).format('MM/DD')}
						.arrow.arrowRight(style="border-right-color: #{color};")
						.dot.dotRight(style="background-color: #{color};")
						.type.typeRight #{item.busType}:#{item.busGroup}
						- flag = false
				else
					.send(style="background-color: #{color};")
						.time #{moment(item.meta.createaAt).format('MM/DD')}
						.arrow(style="border-left-color: #{color};")
						.dot(style="background-color: #{color};")
						.type #{item.busType}:#{item.busGroup}
						- flag = true